.item {
	display: flex;
	align-items: center;
	gap: 16px;

	padding: 12px 8px;


	&.completed {
		.title {
			color: var(--clr-border-hint);
			text-decoration: line-through;
		}
	}
}



.title {
	font-size: var(--fsz-item);
	color: var(--clr-todo-name);
	font-weight: 300;
	line-height: 100%;
}